page-welcome {

  .fondo { 
    background-image: url('../assets/img/showcase.png');
    background-repeat: no-repeat;
	padding-bottom: 500px; 
  }
  .splash-logo {
    background: url('../assets/img/logo.png');
	background-repeat: no-repeat;
    background-size:100%;
    width: 200px;
    height: 200px;
	position: absolute;
    left: 80px;
    top: 150px;


  }
  .splash-intro {
	padding-bottom: 300px;  
	padding-top: 60px;
    font-size: 40px;
    font-weight: bold;
	text-align: center;
	color: white;
	
  }
  button.login {
    margin-top: 25px;
    background-color:#000080;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: white;
    width: 200px;
	left: 70px;
	border-radius: 10px;
    &.activated {
      background-color: rgb(220, 220, 220);
	  
    }

	
  
}
}
